<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.example.greencity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/green_city"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/green_city"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".CustomDialog" />

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SplashGreenCity" />

        <activity android:name=".activity.Navbar" />

        <activity
                android:name=".activity.SignIn"
                android:label="@string/title_activity_sign_in"
                android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDV2U6h6CMjc7XtihLrQFhldVSYT47lAFc" />
    </application>

</manifest>